.col-xs-12.pad-top(id="bar-chart")
    h3.tall.border-bottom= "Bar Chart - Simple"
    #chart
    .row
        .col-xs-12
            pre
                code(class="language-javascript").
                    var data = {
                        names: ["Jan 2015", "Feb 2015", "March 2015", "April 2015", "May 2015", "June 2015", "July 2015"],
                        values: [
                            {
                                name: "Value 1",
                                values: [83.98, 36.54, 20.01, 19.87, 42.04, 62.85, 73.53]
                            }
                        ]
                    };

                    var options = {
                        container: "#chart",
                        data: data
                    }

                    var BaseCharts = new MBC();
                    var myChart = BaseCharts.barChart(options);
                script(type="text/javascript").
                    (function (BaseCharts) {
                        var data = {
                            names: ["Jan 2015", "Feb 2015", "March 2015", "April 2015", "May 2015", "June 2015", "July 2015"],
                            values: [
                                {
                                    name: "Value 1",
                                    values: [83.98, 36.54, 20.01, 19.87, 42.04, 62.85, 73.53]
                                }
                            ]
                        };

                        var options = {
                            container: "#chart",
                            data: data
                        };

                        var msbc = new App();
                        msbc.barChart(options);
                    })(App);
