.col-xs-12.pad-top(id="bar-chart-additional-y-axis")
    h3.tall.border-bottom= "Bar Chart - Additional Y Axis"
    #chart-additional-y-axis.morningstar-base-charts
    .row
        .col-xs-12
            pre
                code(class="language-javascript").
                    var data = {
                        names: ["Jan 2015", "Feb 2015", "March 2015", "April 2015", "May 2015", "June 2015", "July 2015"],
                        values: [
                            {
                                name: "Value 1",
                                values: [83.98, 36.54, 20.01, 19.87, 42.04, 62.85, 73.53]
                            },
                            {
                                name: "Value 2",
                                values: [45.34, 22.39, 54.00, 43.52, 38.6, 22.56, 30.89]
                            }
                        ]
                    };

                    var options = {
                        container: "#chart-additional-y-axis",
                        data: data,
                        y2: "Value 2"
                    }

                    var BaseCharts = new MBC();
                    var myChart = BaseCharts.barChart(options);
script(type="text/javascript").
    (function () {
        var data = {
            names: ["Jan 2015", "Feb 2015", "March 2015", "April 2015", "May 2015", "June 2015", "July 2015"],
            values: [
                {
                    name: "Value 1",
                    values: [83.98, 36.54, 20.01, 19.87, 42.04, 62.85, 73.53]
                },
                {
                    name: "Value 2",
                    values: [45.34, 22.39, 54.00, 43.52, 38.6, 22.56, 30.89]
                }
            ]
        };

        var options = {
            container: "#chart-additional-y-axis",
            data: data,
            y2: "Value 2",
            stacked: false
        };

        var BaseCharts = new MBC();
        BaseCharts.barChart(options);
    })();
