head
    meta(charset="utf-8")
    title.
        Mornigstar base Charts
    //- link(rel="stylesheet", type="text/css", href="vendor/css/prism-coy.css")
    link(rel="stylesheet", type="text/css", href="vendor/css/prism.css")
    link(rel="stylesheet", type="text/css", href="dist/jc-charts.css")
    link(rel="stylesheet", type="text/css", href="jc-charts-demo.css")
    script(type="text/javascript" src="vendor/js/jquery.min.js" )
    script(type="text/javascript", src="vendor/js/prism.js")
    script(type="text/javascript" src="vendor/js/bootstrap.min.js")
    script(type="text/javascript", src="vendor/js/d3.js")
    script(src="http://d3js.org/topojson.v0.min.js")
    script(type="text/javascript", src="dist/jc-charts.js")
    script(type="text/javascript", src="app.js")
