$colors: (
	red: #FF0000, 			// Salsa Roja
	maroon: #AC0033, 		// Pomegranate
	orange: #EF7622, 		// Pumpkin
	yellow: #DCAA00, 		// Dandelion
	beige: #EDDF98,			// Buffy
	dark-green: #648C1A, 	// Avocado
	green: #00AF41, 		// Salsa Verde
	teal: #006C67, 			// Lagoon
	blue: #006098, 			// Denim
	violet: #3B5CAD, 		// Blueberry
	cyan: #00A8E1, 			// Tron, Brand Primary
	dark-cyan: #0a9ec9,		// Brand Primary 2
	darker-cyan: #087796,	// Brand Primary 3
	white: #FFFFFF,			// White
	black: #000000,
	gs1: #f9f9f9,
	gs2: #f2f2f2,
	gs3: #eaeaea,
	gs4: #dddddd,
	gs5: #cccccc,
	gs6: #bebebe,
	gs7: #999999,
	gs8: #666666,
	gs9: #484848,
	gs10: #444444,
	gs11: #303030,
	gs12: #3b3b3b,
	gs13: #282828,
	gs14: #151515
);